.history
node_modules
dist
build
coverage
.idea

/resources
/assets
/wiki

*/.DS_Store
*/.vscode
*.log
*.env
*.env.local
*.env.development
*.env.test
*.env.production

!*.env.example

supabase-project/volumes